.header {
    background-color: #a0d2eb;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    
  }
  
.header-title {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    
    position: absolute;
    top: -25px;
    font-size: 36px;
    left: 150px;
  
    color: #494D5F;
    
}
  
.button-header {
    position: relative;
    float: left;
    border-radius: 108px;
    font-size: 24px;
    padding: 14px 80px;
    left: 900px;
    margin: 10px;
    top: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #8458B3;
    border: none;
    box-shadow: 0 9px #d0bdf4;
    color: black;
}

.button-header:hover {background-color: #d0bdf4}

.button-header:active {
  background-color: #d0bdf4;
  box-shadow: 0 5px #d0bdf4;
  transform: translateY(4px);
}

/*
Ice Cold: #
Freeze Purple: #e5eaf5
Medium Purple: #d0bdf4
Purple Pain: #8458B3
Heavy Purple: #a28089
*/